.storyAvatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.5rem;
  cursor: pointer;
  img {
    object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
